<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>List of Offices</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>List of Offices</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Budget</th>
					<th>Expenses</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="office : ${offices}">
					<td th:text="${office.code}"></td>
					<td th:text="${office.name}"></td>
					<td th:text="${office.budget}"></td>
					<td th:text="${office.expenses}"></td>
					<td>
						<a th:href="@{/office/see/{id}(id=${office.id})}" class="btn btn-info btn-sm">Ver</a>
						<a th:href="@{/office/edit/{id}(id=${office.id})}" class="btn btn-warning btn-sm">Editar</a>
						<a th:href="@{/office/delete/{id}(id=${office.id})}" class="btn btn-danger btn-sm">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a th:href="@{/new}" class="btn btn-success">New Office</a>
		</div>
	</div>
</body>
</html>